colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
fonttools==4.53.0
kiwisolver==1.4.5
libigl==2.5.1
markdown-it-py==3.0.0
matplotlib==3.9.0
mdurl==0.1.2
meshio==5.3.5
meshtaichi_patcher==0.0.19
numpy==1.26.4
packaging==24.1
pillow==10.3.0
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
rich==13.7.1
scipy==1.13.0
six==1.16.0
taichi==1.7.1
networkx
pyquaternion==0.9.9
pandas==2.2.3